*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width: 100%;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background-color: #fff;
    color: #000000;
}
.nav-links{
    display:flex;
    list-style:none;
    gap: 30px;
    text-decoration: none;
    color: #000000;
    text-decoration-line: none;

}
.hero-section {
  background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2022/08/02/2022-06-05_Vrbo_APFT2_Barcelona_Therin_House_2_4605_2.png?impolicy=fcrop&w=1920&h=580&q=medium");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  padding: 50px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 500px;
  text-align: left;
  margin-left: 80px;
}

.search-bar {
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 15px;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.search-field {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px 15px;
  flex: 1;
  border: 1px solid #000000;
}

.search-field input {
  outline: none;
  background: transparent;
  font-size: 1rem;
  padding-left: 30px;
  width: 100%;
  border: 5px solid white;
  position: sticky;
  top:0;
  
}
.seek-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seek-btn:hover {
  background-color: #0056b3;
}
.main-section{
    padding: 20px;
    width: 100%;
}
.register{
    background-color: #f8f8f8;
    padding: 50px 20px;
    text-align: center;
}
.booking{
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}
.find-accommodation{
    background-color: #f0f0f0;
    padding: 50px 20px;
    text-align: center;
}
.browser-weekend-trips{
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}
.view-photos{
    background-color: black;
}
.perfect-beach{
    background-color: #f8f8f8;
    padding: 50px 20px;
    text-align: center;
}
.private-accommodation{
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}
.advertise-accommodation{
    background-color: #f0f0f0;
    padding: 50px 20px;
    text-align: center;
}
.travel-destinations{
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}
